go 1.24.11

toolchain go1.25.4

use (
	.
	./examples/middleware/http/gin
	./examples/middleware/http/gorilla
	./examples/middleware/http/huma
	./middleware/ginz
	./middleware/gorillaz
	./middleware/grpcz
	./middleware/httpz
	./middleware/humaz
)
